body {
    text-align: center;
    font-family: sans-serif;
    font-size: 15px;
    color: hsl(229, 6%, 66%);
    background-color: rgb(216, 216, 216);
}
.container {
    margin-top: 30px;
    width: 100%;
    height: 500px;
    background-color: none;
}
.container .sub1 {
    position: absolute;
    left: 38%;
    width: 300px;
    height: 200px;
    background-color: white;
}
.container .sub1 .subsub1 {

    height: 3px;
    width: 100%;
    background-color: hsl(0, 78%, 62%);
}
img {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 150px;
    left: 80%;
}
h1 {
    color:  hsl(234, 12%, 34%);
}
b {
    color: hsl(234, 12%, 34%);
}
.container .sub2 {
    position: absolute;
    top: 50%;
    left: 170px;
    width: 300px;
    height: 200px;
    background-color: white;
}
.container .sub2 .subsub2 {

    height: 3px;
    width: 100%;
    background-color: hsl(180, 62%, 55%);
}
.container .sub3 {
    position: absolute;
    left: 38%;
    top: 70%;
    width: 300px;
    height: 200px;
    background-color: white;
}
.container .sub3 .subsub3 {

    height: 3px;
    width: 100%;
    background-color: hsl(34, 97%, 64%);
}
.container .sub4 {
    position: absolute;
    top: 50%;
    left: 63%;
    width: 300px;
    height: 200px;
    background-color: white;
}
.container .sub4 .subsub4 {

    height: 3px;
    width: 100%;
    background-color: hsl(212, 86%, 64%);
}


